@import '../../../styles/varbs.scss';

th {
  font-weight: normal;
  font: Rubic;
}

.pictures-adress {
  width: 345px;
  padding-right: 5px;
  #address{
    padding-right: 20px;
  }
  p{
    font-size: small;
  }
}

.about {
  padding: 0 10px 0 10px;
  width: 186px;
  text-align: center;
table{
  margin-right: 30px;
}

    .footer {
      color: gray;
    }
  }


.price {
  width: 182px;
  text-align: left; //turn back ???
  padding-left: 5px //turn back ???
 
}

.table-item{
  border: 1px solid rgb(218, 218, 230) !important;
  border-collapse: collapse;

  background-color: #fdf8c5 !important;

  height: 86px;



}

.table-item td {

  border: 1px solid rgb(218, 218, 230) !important;

}

.table-item-open {
  border: 1px solid rgb(218, 218, 230) !important;
  border-collapse: collapse;

  background-color: #fdf8c5 !important;
  width: 715px;
  height: 137px;

}

.img-open {
  padding-right: 5px
}

.address-open {
  width: 345px;
}

.about-open {
  text-align: center;
  width: 186px;
}

.about-label-open {
  color: gray;
}

.price-open {
  width: 182px;
  text-align: left; //turn back
  padding-left: 5px //turn back
}

.detailsBoxStyle {
  width:500px;
  background-color: white;
 
 // margin-right: 15px
 &-child{
  margin-right: 15px;
  font-size: small;
 }
  &.header{
   font-weight: bold;
 }
}

;

.comercialBoxStyle {
  background-color: #f0f0f0
}

;

.aboutStyle {
  padding: 10px 50px 10px 10px
}

.aboutDetailStyle {
  font-weight: bold
}

.propertyDetailsContainer {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 4vh;
}

.propertyExtraDetails {
  width: 120px;
 // font-weight: bold;
    font-size: .80rem;
  &.exist {
    width: 120px;
  
    color: gray
  }
  padding:.5vh ;
}

.about-detail{
  display: flex;
  flex-wrap: wrap;
&-child{
  flex-basis:50%;
  font-size: .75rem;

}

}
