@import '../../../styles/varbs.scss';

th {
  font-weight: normal;
  font: Rubic;
}

.pictures-adress {
  width: 21.56rem;
  padding-right: .31rem;
  #address{
    padding-right: 1.25rem;
  }
  p{
    font-size: small;
  }
}

.about {
  padding: 0 .625rem 0 .625rem;
  width: 11.62rem;
  text-align: center;
table{
  margin-right: 1.9rem;
}

    .footer {
      color: gray;
    }
  }


.price {
  width: 11.37rem;
  text-align: left; //turn back ???
  padding-left: .31rem //turn back ???
 
}

.table-item{
  border: .06rem solid rgb(218, 218, 230) !important;
  border-collapse: collapse;

  background-color: #fdf8c5 !important;

  height: 5.37rem;



}

.table-item td {

  border: .06rem solid rgb(218, 218, 230) !important;

}

.table-item-open {
  border: .06rem solid rgb(218, 218, 230) !important;
  border-collapse: collapse;

  background-color: #fdf8c5 !important;
  width: 44.69rem;
  height: 8.56rem;

}

.img-open {
  padding-right: .31rem
}

.address-open {
  width: 21.56rem;
}

.about-open {
  text-align: center;
  width: 11.62rem;
}

.about-label-open {
  color: gray;
}

.price-open {
  width: 11.37rem;
  text-align: left; //turn back
  padding-left: .31rem //turn back
}

.detailsBoxStyle {
  width:500px;
  background-color: white;
 
 // margin-right: .94rem
 &-child{
  margin-right: .94rem;
  font-size: small;
 }
  &.header{
   font-weight: bold;
 }
}

;

.comercialBoxStyle {
  background-color: #f0f0f0
}

;

.aboutStyle {
  padding: .625rem 3.12rem .625rem .625rem
}

.aboutDetailStyle {
  font-weight: bold
}

.propertyDetailsContainer {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 4vh;
}

.propertyExtraDetails {
  width: 7.5rem;
 // font-weight: bold;
    font-size: .80rem;
  &.exist {
    width: 7.5rem;
  
    color: gray
  }
  padding:.5vh ;
}

.about-detail{
  display: flex;
  flex-wrap: wrap;
&-child{
  flex-basis:50%;
  font-size: .75rem;

}

}
