@import '../../styles/varbs.scss';

table{
  width: 100vw;
  display: flex;
  border-collapse: collapse;
  height: 3.44rem;
  background-color: #ffffff;
  border-bottom:.13rem solid #b7b7b7;
  box-shadow: 0 0 .06rem 0 #b7b7b7, 0 0 .06rem 0 #b7b7b7


  }
  table td{
    padding: .94rem .94rem .94rem .94rem
  }
  td:hover{
    background-color:#e4dede; 
      
     }
     .chosen{
      border-bottom: .13rem solid $theme-color;
      color:$theme-color;
     }
