@import '../../../styles/varbs.scss';

.label-cbx {
    user-select: none;
    cursor: pointer;
    margin-bottom: 0;
  }
  
  .label-cbx input:checked+.checkbox {
    border-color: $theme-color;
  }
  
  .label-cbx input:checked+.checkbox svg path {
    fill: $theme-color;
  }
  
  .label-cbx input:checked+.checkbox svg polyline {
    stroke-dashoffset: 0;
  }
  
  .label-cbx:hover .checkbox svg path {
    stroke-dashoffset: 0;
  }
  
  .label-cbx .checkbox {
    position: relative;
    top: .13rem;
    float: right;
    margin-left: .5rem; //turn back
    width: 1.25rem;
    height: 1.25rem;
    border: .13rem solid #C8CCD4;
    border-radius: .19rem;
  }
  
  .label-cbx .checkbox svg {
    position: absolute;
    top: -.13rem;
    right: -.13rem;
  }
  
  .label-cbx .checkbox svg path {
    fill: none;
    stroke: $theme-color;
    stroke-width: 2;
  
    stroke-dasharray: 4.44rem;
    stroke-dashoffset: 4.44rem;
  
  }
  
  .label-cbx .checkbox svg polyline {
    fill: none;
    stroke: #FFF;
    stroke-width: 2;
    stroke-dasharray: 1.12rem;
    stroke-dashoffset: 1.12rem;
  
  }
  
  .label-cbx>span {
    pointer-events: none;
    vertical-align: middle;
  }
  
  .cntr {
    flex-basis: 5%;
    margin-right: .625rem;
    margin-top: .625rem;
  }
  
  .invisible {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0;
  }