@import '../../styles/varbs.scss';

.filterContainer {
  padding: 20px;
  width: 960px;
  height: 153px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 3px 2px 4px 0px rgba(214, 214, 214, 1);
  -moz-box-shadow: 3px 2px 4px 0px rgba(214, 214, 214, 1);
  box-shadow: 3px 2px 4px 0px rgba(214, 214, 214, 1);
}
input{
  text-decoration: none;
  outline: none;

}
#headerLink {
  color: $theme-color;
  border-bottom: dotted $theme-color;
}

.inputs td {
  vertical-align: top;
}

.labels td label {
  font-size: 15px;
  margin-bottom: 3px;
}

.property-type {
  border: 1px solid gray;
  width: 150px;
  height: 40px;

  img {
    height: 10px;
    width: 10px;
  }

  input {
    height: 35px;
    border: transparent;
    width: 120px;
  }
}

.inputs div,
button,
span,
input {
  height: 40px;
  font-size: 13px;
}

.headerLinkOption {
  background-color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  width: 220px;

  &.contanier {
    z-index: 99;
    position: absolute;
    -webkit-box-shadow: 3px 2px 4px 0px rgba(214, 214, 214, 1);
    -moz-box-shadow: 3px 2px 4px 0px rgba(214, 214, 214, 1);
    box-shadow: 3px 2px 4px 0px rgba(214, 214, 214, 1);
  }

  &.links {
    height: 41px;
    padding: 10px;

    &:hover {
      background-color: #fef0e4;
      color: $theme-color;
    }

    &.chosen {
      background-color: #fef0e4;
      color: $theme-color;
    }
  }

  &.Headline {
    color: gray;

  }


}

.search-button {

  background-color: $theme-color;
  color: white;
  font-weight: bold;
  font-size: 13px;
  padding: 0 15px 0 15px;
  &:hover{
    background-color: darken($color: $theme-color, $amount: 20%);
  }

}

.advanced-search {
  line-height: 0.8;
  background-color: #eeeeee;
  font-size: 13px;
 &:hover{
   background-color: darken($color: #eeeeee, $amount: 20%);
 }

}

.price-input {
  border: 1px solid gray;
  height: 40px;
  margin-bottom: 0;
  padding-bottom: 0;
  ;

  input {
    padding-bottom: 0;

    height: 35px;
    border: transparent;
    outline: none;
    width: 110px;
  }
}

.rooms-num {
  border: 1px solid gray;
  height: 40px;
  width: 100px;

  input {
    padding-bottom: 0;
    width: 70px;
    height: 35px;
    border: transparent;
    outline: none;
  }

  img {
    height: 10px;
    width: 10px;
  }
}

.property-type-options {
  background-color: #FFFFFF;
  -webkit-box-shadow: 3px 2px 4px 0px rgba(214, 214, 214, 1);
  -moz-box-shadow: 3px 2px 4px 0px rgba(214, 214, 214, 1);
  box-shadow: 3px 2px 4px 0px rgba(214, 214, 214, 1);
  margin-right: 220px;
  width: 210px;
  height: 226px;
  z-index: 99 !important;
  position: relative;

  &.moreProperties {
    width: 750px;
    height: 200px !important;

  }

  a {
    color: $theme-color;
    bottom: 0;
    position: absolute;
    padding: 0 20px 15px 0;

  }
}
.adrresses-options {
  margin-right: 15px;
  border: 1px solid #ccc !important;
  border-top: none !important;
  z-index: 99 !important;
  width: 448px !important;
  background-color: #ffffff;
span,th,td{
  padding: 0 10px 0 10px;

}

  th {
    background-color: #eeeeee;
    // 
    width: 448px !important;
    height: 40px;
    font-size: small;

  }

  td {
    font-size: small;

    width: 448px !important;
    height: 30px;
    background-color: #ffffff;
span{
  float: left;
}
  }
}

.flex-container {
  display: flex;
  flex-direction: column !important;
  height: 180px !important;

  &.moreProperties {
    flex-wrap: wrap;
  }

  //
}



.rooms-options {
  margin-right: 372px;
  width: 180px;
  height: 80px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 3px 2px 4px 0px rgba(214, 214, 214, 1);
  -moz-box-shadow: 3px 2px 4px 0px rgba(214, 214, 214, 1);
  box-shadow: 3px 2px 4px 0px rgba(214, 214, 214, 1);
  z-index: 99 !important;
  padding: 15px;

  img {
    height: 10px;
    width: 10px;
  }

  table {
    padding: 0 !important;
  }

  th {
    border: 1px solid gray;
    width: 75px;
  }

  td {
    width: 75px;
  }

  .roomSelect {
    border: 1px solid gray;
    list-style-type: none;
    height: 320px;
    width: 75px;
    display: block;
    overflow: scroll;
    background-color: #FFFFFF;
    overflow-x: hidden;
    padding-right: 25px;

    li {
      width: 75px;
      height: 40px;

      &:hover {
        background-color: #e4dede;
      }
    }
  }

  input {
    padding-bottom: 0;
    width: 50px;
    height: 35px;
    border: transparent;
    outline: none;
  }
}


.label-cbx {
  user-select: none;
  cursor: pointer;
  margin-bottom: 0;
}

.label-cbx input:checked+.checkbox {
  border-color: $theme-color;
}

.label-cbx input:checked+.checkbox svg path {
  fill: $theme-color;
}

.label-cbx input:checked+.checkbox svg polyline {
  stroke-dashoffset: 0;
}

.label-cbx:hover .checkbox svg path {
  stroke-dashoffset: 0;
}

.label-cbx .checkbox {
  position: relative;
  top: 2px;
  float: right;
  margin-left: 8px; //turn back
  width: 20px;
  height: 20px;
  border: 2px solid #C8CCD4;
  border-radius: 3px;
}

.label-cbx .checkbox svg {
  position: absolute;
  top: -2px;
  right: -2px;
}

.label-cbx .checkbox svg path {
  fill: none;
  stroke: $theme-color;
  stroke-width: 2;

  stroke-dasharray: 71px;
  stroke-dashoffset: 71px;

}

.label-cbx .checkbox svg polyline {
  fill: none;
  stroke: #FFF;
  stroke-width: 2;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;

}

.label-cbx>span {
  pointer-events: none;
  vertical-align: middle;
}

.cntr {
  flex-basis: 5%;
  margin-right: 10px;
  margin-top: 10px;
}

.invisible {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}