<div [ngClass]="'filterContainer'">
 


  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div [ngClass]="'inputsFlex'">
      <table>
        <tr>
          <td colspan="3">
            <h5>
              {{"איזה נכס ל"}}<a (clickOutside)="onClickOutSideBar($event,'headerLink')"
                (click)="onHeaderLinkClicked($event)" id="headerLink">{{translate[reApiService.reType]}}</a>{{" תרצו לחפש?"}}
            </h5>
          </td>
        </tr>
        <div *ngIf="isHeaderLinkClicked" class="headerLinkOption contanier">
          <div class="headerLinkOption Headline">{{'ניתן לחפש גם:'}} </div>

          <div *ngFor="let link of reTypes" (click)="onClickREtype(link)"
            [ngClass]="reApiService.reType!==link?'headerLinkOption links':'headerLinkOption links chosen'"><a
              >{{translate[link]}}</a></div>
        </div>

        <tr [ngClass]="'labels'">
          <td>
            <label>{{'חפשו אזור, עיר, שכונה או רחוב'}}</label>
          </td>
          <td>
            <label>
              {{' סוג נכס'}}
            </label>
          </td>
          <td>
            <label>{{'חדרים'}} </label>
          </td>
          <td>
            <label>{{'מחיר בש"ח'}}</label>
          </td>
        </tr>
        <tr [ngClass]="'inputs'">
          <td>
            <input  placeholder="לדוגמא: פלורנטין" formControlName="address" type="text" autocomplete="something-new"
              (input)="onChangeAddress($event)" (click)="onChangeAddress($event)"/>
          </td>
          <td (click)="onClickPropertyType($event)">
            <div [ngClass]="'property-type'">
              <input placeholder="בחרו סוגי נכסים" formControlName="propertyType" type="text"
                autocomplete="something-new" />
              <img src="http://cdn.onlinewebfonts.com/svg/img_295694.svg"
                [ngStyle]="{'transform':isPropertyTypeClicked? 'rotate(180deg)':''}" />
            </div>
          </td>
          <td [ngClass]="'rooms-num'" (click)="onClickedRooms($event)">
            <input placeholder="חדרים" formControlName="rooms" type="text">
            <img src="http://cdn.onlinewebfonts.com/svg/img_295694.svg"
              [ngStyle]="{'transform':isRoomsClicked ? 'rotate(180deg)':''}" />
          </td>
          <td [ngClass]="'price-input'">
            <input placeholder="ממחיר" formControlName="minPrice" type="text" />
          </td>
          <td [ngClass]="'price-input'">
            <input placeholder="עד-מחיר" formControlName="maxPrice" type="text" />
          </td>
          <td>
            <button [ngClass]="'advanced-search'" type="button">
              <!-- <i class="fas fa-plus-circle"></i> -->
              <img src="https://img.icons8.com/pastel-glyph/64/000000/plus.png" width="15px">{{' חיפוש מתקדם'}}
            </button>
          </td>
          <td>
            <button [ngClass]="'search-button'" type="submit"> <i class="fas fa-search"></i>{{' חיפוש'}}</button>
          </td>
        </tr>
      </table>
    </div>
  </form>
  <div class="row">
    <div *ngIf="isAddressClicked" (clickOutside)="onClickOutSideBar($event,'adrressesOptions')" class="adrresses-options">
      <span>{{'חפשו אזור, עיר, שכונה או רחוב'}}</span>
      <div class="">
        <table>
          <tr>
            <th colspan="2" >{{translate['city']}}</th>
          </tr>
          <tr *ngFor="let city of addresses.cities">
            <td (click)="onChooseAddress(city,$event)">{{city}}</td>
            <td  ><span>{{translate['city']}}</span></td>
          </tr>

          <tr>
            <th colspan="2" >{{translate['street']}}</th>
          </tr>
          <tr *ngFor="let address of addresses.streets">
            <td (click)="onChooseAddress(address.street+', '+address.city,$event)">{{address.street+", "+address.city}}</td>
            <td  ><span>{{translate['street']}}</span></td>

          </tr>

        </table>
      </div>

    </div>

    <span [ngClass]="!isMorePropertiesClicked? 'property-type-options':'property-type-options moreProperties'"
      *ngIf="isPropertyTypeClicked" id="propertyType" (clickOutside)="onClickOutSideBar($event,'propertyType')">
      <span [ngClass]="!isMorePropertiesClicked? 'flex-container':'flex-container moreProperties'">
        <span
          *ngFor="let option of isMorePropertiesClicked? propertyTypeOptions:propertyTypeOptions.slice(0,6); let i=index"
          class="cntr">
          <label for="{{option}}" class="label-cbx">
            <input [checked]="propertyTypesChecked.indexOf(option)!==-1" id="{{option}}" type="checkbox"
              class="invisible" (click)="onCheckbox($event,option)">
            <div class="checkbox">
              <svg width="20px" height="20px" viewBox="0 0 20 20">
                <path
                  d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z">
                </path>
                <polyline points="4 11 8 15 16 6"></polyline>
              </svg>
            </div>
            <span>{{propertyTypeOptionsHebrew[i]}}</span>
          </label>
        </span>


      </span>

      <div><a (click)="onClickMoreProperties()">{{isMorePropertiesClicked?' < פחות סוגים':'עוד סוגים >' }}</a></div>
    </span>

    <span (clickOutside)="onClickOutSideBar($event,'roomsOptions')" id="roomsOptions" class="rooms-options"
      *ngIf="isRoomsClicked">
      <table>
        <tr>
          <th (click)="onClickRoomSelectMin($event)">
            <input placeholder="מ-" type="text" [(ngModel)]="chosenRooms.min" />
            <img src="http://cdn.onlinewebfonts.com/svg/img_295694.svg"
              [ngStyle]="{'transform': isRoomSelectMinClicked ? 'rotate(180deg)':''}" />
          </th>
          <th (click)="onClickRoomSelectMax($event)">
            <input placeholder="עד-" type="text" [(ngModel)]="chosenRooms.max" />
            <img src="http://cdn.onlinewebfonts.com/svg/img_295694.svg"
              [ngStyle]="{'transform': isRoomSelectMaxClicked ? 'rotate(180deg)':''}" /></th>
        </tr>
        <tr [ngStyle]="{'height':'15px'}">
          <td>
          <td></td>
        </tr>
        <tr>
          <td>
            <ul *ngIf="isRoomSelectMinClicked" class="roomSelect" id="roomSelectMin" #roomSelectMin>
              <li (click)="onChooseRoomsNum('min',$event)">הכל</li>
              <li *ngFor="let num of minRoomArray" (click)="onChooseRoomsNum('min',$event,num)">{{num}}</li>
            </ul>
          </td>
          <td>
            <ul *ngIf="isRoomSelectMaxClicked" class="roomSelect" id="roomSelectMax" #roomSelectMax>
              <li (click)="onChooseRoomsNum('max',$event)">הכל</li>
              <li *ngFor="let num of maxRoomArray" (click)="onChooseRoomsNum('max',$event,num)">{{num}}</li>
            </ul>
          </td>
        </tr>
      </table>
    </span>
  </div>
</div>