<div class="sort-container">
    <div class="item">{{'מיין לפי'}}<span (click)="onClick('sortBy',$event)" id="sortBy"
            class="item box sort-by">{{translate[sortBy] }}<img src="http://cdn.onlinewebfonts.com/svg/img_295694.svg"
                width="15px" /> </span></div>
    <div class="item">{{'הצג מודעות'}} <span
            [ngClass]="!isShowAddsWithPrice?'item box showAdds':'item box showAdds click'" (click)="onClick('price')"
            id="price">{{"₪ עם מחיר"}}</span>
        <span id="picture" (click)="onClick('picture')"
            [ngClass]="!isShowAddsWithPicture?'item box showAdds':'item box showAdds click'"><img
                src="{{!isShowAddsWithPicture?picUrl:picOrangeUrl}}" width="15px" />{{" עם תמונה"}}</span></div>
    <div class="item break"><span class="item box"><img src="{{mapPicUrl}}" width="18px" />{{"   תצוגת מפה  "}}</span>
    </div>
</div>
<div *ngIf="isShowSortBy" class="sortBy-options" (clickOutside)="onClickOutsideSortBy()">
    <div *ngFor="let option of sortByOptions" class="">
        <input (input)="onClick('sortByOptions',$event,option)" class="invisible" id={{option}} type="radio" name="option"
            value={{option}}>
        <label for={{option}}><span [ngClass]="option===sortBy?'ring':'ring off'"><span
            [ngClass]="option===sortBy?'dot':'dot off'"
                   ></span></span></label>

        <label class="optionsLabel" for={{option}}> {{translate[option]}}</label>

    </div>
</div>