/* You can add global styles to this file, and also import other style files */
@import './styles/varbs.scss';
html,body{
  font-size: 80%;
 }
 @media only screen and (max-width: 700px) {
  html {
    font-size:70%;
  }
}

@media only screen and (min-width: 1000px) {
  html {
    font-size: 100%;
    .noSearchResults{
      margin-top: 40vh !important;
    }
  }
}


button{
  border: none ;
 outline:none;
 text-decoration: none;
 display: inline-block;
}